<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>button-back-selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 15}, {130, 56}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{130, 56}</string>
			<key>spriteSourceSize</key>
			<string>{150, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {130, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button-back.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 15}, {130, 56}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{130, 56}</string>
			<key>spriteSourceSize</key>
			<string>{150, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 2}, {130, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button-guard-selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 9}, {94, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 82}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 2}, {94, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button-guard.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 17}, {76, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 66}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 60}, {76, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button-next-selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {68, 68}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{68, 68}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 128}, {68, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button-next.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {68, 68}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{68, 68}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 150}, {68, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button-pause-selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {68, 68}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{68, 68}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 170}, {68, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button-pause.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {68, 68}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{68, 68}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 198}, {68, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button-player-selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {92, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 92}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 86}, {92, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button-player.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 13}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 60}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button-previous-selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {68, 68}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{68, 68}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 136}, {68, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button-previous.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {68, 68}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{68, 68}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 206}, {68, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button-restart-selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {68, 68}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{68, 68}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 100}, {68, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button-restart.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {68, 68}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{68, 68}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 220}, {68, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button-star-selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {96, 96}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{96, 96}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 2}, {96, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button-star.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 12}, {88, 88}}</string>
			<key>spriteOffset</key>
			<string>{6, -6}</string>
			<key>spriteSize</key>
			<string>{88, 88}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 60}, {88, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.3</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>buttons-hd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>cocos2d</string>
			<key>textureFileName</key>
			<string>buttons-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>buttons-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>