<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>clouds.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {800, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{800, 224}</string>
			<key>spriteSourceSize</key>
			<string>{800, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 149}, {800, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guardcone.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {390, 350}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{390, 350}</string>
			<key>spriteSourceSize</key>
			<string>{400, 362}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{804, 149}, {390, 350}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star-empty.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 60}, {286, 270}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{286, 270}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 375}, {286, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 60}, {286, 270}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{286, 270}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 375}, {286, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1908, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1908, 145}</string>
			<key>spriteSourceSize</key>
			<string>{1908, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {1908, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.3</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>other-ipadhd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>cocos2d</string>
			<key>textureFileName</key>
			<string>other-ipadhd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>other-ipadhd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>